name: Deploy FinApp to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20  # Ou '22'

      - name: Remove existing node_modules  # Novo passo para limpar pastas committed
        run: rm -rf node_modules dist

      - name: Install dependencies
        run: npm ci  # Use 'npm ci' para CI, mais consistente que 'npm install'

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist